<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HotelReservationSystem.Properties.Settings.hmsConnectionString"
            connectionString="Data Source=LAB7-030\SQLEXPRESS;Initial Catalog=hms;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>